<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/index-style.css">
</head>
<body>

    <section class="index">
        <div class="index-box">
            <label for="name">Poll Name</label>
            <p>A simple poll system made with typescript! 🍔</p>
            <input type="text" placeholder="Name" name="name" id="name">
            <br>
            <div class="index-options">
                <input type="text" placeholder="Option" id="option">
                <input type="text" placeholder="Option" id="option">
            </div>
            <div class="index-box-btn">
                <button class="btn btn-primary" onclick="addOption()">Add Option</button>
                <button class="btn btn-primary" onclick="send()">Send</button>
            </div>
        </div>
    </section>


</body>

<script>

    const addOption = () => {
        const options = document.querySelector('.index-options');
        const newOption = document.createElement('input');
        newOption.type = 'text';
        newOption.id = 'option';
        newOption.placeholder = 'Option';
        options.appendChild(newOption);
    };

    const send = async () => {
        const optionsList = [];
        const name = document.querySelector('#name').value;
        const options = document.querySelectorAll('.index-options input');
  
        options.forEach(option => optionsList.push(option.value));

        if(name == null || options == null || options.length() < 2){
            alert('Nie podałeś wszystkich argumentów!');
            return;
        }

        // send body as body to /api/create
        const response = await fetch('/api/create', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name,
                options: optionsList
            })
        });
        const data = await response.json();
        document.location.href = `/polls/${data.id}`;
    };
    
</script>
</html>
