<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= poll.name %></h1>
    <table>
        <tr>
            <td>Name</td>
            <td>Votes</td>
        </tr>
        <% for(let i=0; i<poll.options.length; i++) { %>
            <tr>
                <td><%= poll.options[i].name %></td>
                <td><%= poll.options[i].votes %></td>
            </tr>
        <% } %>

        <a href="/polls/<%= poll.id %>">Vote</a>
    </table>
</body>
</html>